<html lang="en-GB">
<head>
	<meta charset="UTF-8" /><html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Men In Sheds Taunton - {{ title }}</title>
  <link rel="stylesheet" href="/style.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

</head>

<body>

<header>
  <div>
    <a href="/"><img src="/media/images/common/CMIST.svg" alt="CMIST logo" height="50" /></a>
    <div class="phone-number">
      <img src="/media/images/icons/phone.svg" width="20" height="20" />
      <a href="tel:01823 971291">01823 971291</a>
    </div>
  </div>

  <nav>
    <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/facilities">Facilities</a></li>
      <li><a href="/funding">Funding</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
{{ content | safe }}
</main>


<footer>
  <div>
    <img src="/media/images/common/CMIST.svg" alt="CMIST logo" height="35" />
  </div>
  <div>
  <p>
    <strong>CMIST - Community Men in Sheds Taunton<br />
    Registered Charity No.  1198052
    </strong>
  </p>
  <p>Unit 1, Old Engineering Workshops, Station Approach North, <br />
  Taunton Station, Taunton, Somerset, TA1 1QP</p>
  </div>
</footer>

</body>
</html>
