---
title: Contact
layout: "base.njk"
navActive: contact
---


<div class="mt-1 flex gap-30 container">
  <h1 id="contact-header">Contact Us</h1>
</div>

<div class="mb-2 flex gap-30 container">


  <section class="flex-grow" aria-labeled-by="contact-header">
  <div>
    <p>Email: <a href="mailto:cmist.taunton@gmail.com">
    cmist.taunton@gmail.com
    </a></p>

    <p>Tel: <a href="tel:01823 971291">01823 971291</a></p>

    <p>CMIST, Unit 1<br />
    Old Engineering Workshops<br />
    Station Approach North<br />
    Taunton Station<br />
    Taunton, TA1 1QP</p>
  </section>



    <section class="flex-min-500 contact-us" aria-labelled-by="form-header">
    <h2 id="form-header">Send us a message</h3>
    <form
      action="https://formspree.io/f/xwpnayrb"
      method="POST"
      id="contact-form"
    >
      <div class="field">
        <label>Your name:</label>
        <input type="email" name="email">
      </div>
      <div class="field">
        <label>Your email:</label>
        <input type="email" name="email">
      </div>
      <div class="field">
        <label>Message:</label>
        <textarea name="message" rows="5"></textarea>
      </div>
      <div>
        <button type="submit">Send message</button>
      </div>
    </form>
    </section>


  
</section>


<section>
  {% include "./partials/map.njk" %}
</section>



<script>
  var form = document.getElementById("contact-form");
  
  async function handleSubmit(event) {
    event.preventDefault();
    var status = document.getElementById("my-form-status");
    var data = new FormData(event.target);
    fetch(event.target.action, {
      method: form.method,
      body: data,
      headers: {
          'Accept': 'application/json'
      }
    }).then(response => {
      if (response.ok) {
        status.innerHTML = "Thanks for your submission!";
        form.reset()
      } else {
        response.json().then(data => {
          if (Object.hasOwn(data, 'errors')) {
            status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
          } else {
            status.innerHTML = "Oops! There was a problem submitting your form"
          }
        })
      }
    }).catch(error => {
      status.innerHTML = "Oops! There was a problem submitting your form"
    });
  }
  form.addEventListener("submit", handleSubmit)
</script>
