---
title: Funding
layout: "base.njk"
---


<section class="container mt-1">
  <h1>Funding</h1>

  <p>CMIST is a CIO registered charity No.1198052 governed by the Charity Commission.  Funds are raised through membership, attendance fees, fundraising, project grants, donation and the occasional sale of items members may create (bird-boxes, hedgehog houses etc).</p>

  <p>Based on the current delivery model CMIST core costs require circa £6,500 per annum to operate and we are always looking to raise additional funding to help pay towards running costs, tools , resources and equipment (for use or resale). </p>

  <p>If you think that you are able to help us with these needs in any way, please don’t hesitate to get in touch to discuss.</p>
<img src="/media/images/photos/3A1A250C-0F66-483B-A5C7-BAC27D0E53F4.avif" />

</section>
