<div class="hero">
  <div>
    <p>A space for people to connect, converse and create. </p>
    <p>Like a garden shed but but for groups to enjoy together. </p>
    <p>Helping to reduce loneliness and isolation while having fun.</p>
  </div>
</div>
