<div class="hero">
  <div>
    <p>A space for people to connect, converse and create. 
    The activities are often similar to those of garden sheds, 
    but for groups to enjoy together. 
    They help reduce loneliness and isolation, 
    but most importantly, they&rsquo;re fun.</p>
  </div>
</div>
