<div class="hero">
  <div>
    <h1>A space to connect, converse and create</h1>
    <p>Like a garden shed but but for groups to enjoy together. </p>
    <p>We're helping to reduce loneliness and isolation while having fun.</p>
  </div>
</div>
