---
title: Home
layout: "base.njk"
---

{% include "./partials/hero.njk" %}

<div class="container">

  <h1>Our Goals</h1>

  <div class="md:grid-cols-3 mb-1">
    <article class="card">
      <!--<div class="circle-icon center mb-1">-->
      <!--  {% include "./media/images/icons/user.svg" %}-->
      <!--</div>-->
      <img src="/media/images/photos/tmp-1.jpg" />
      <div class="content">
        <h3>Community</h3>
        <p>To prevent social exclusion by promoting the opportunity for friendships and
        social engagement in a safe and enjoyable environment. </p>
      </div>
    </article>

    <article class="card">
      <!--<div class="circle-icon center mb-1">-->
      <!--  {% include "./media/images/icons/heart.svg" %}-->
      <!--</div>-->
      <img src="/media/images/photos/tmp-2.jpg" />
      <div class="content">
        <h3>Health</h3>
        <p>To promote good health and wellbeing to its members through active participation and, 
        raise awareness of good health strategies.</p>
      </div>
    </article>

    <article class="card">
      <!--<div class="circle-icon center mb-1">-->
      <!--  {% include "./media/images/icons/wrench.svg" %}-->
      <!--</div>-->
      <img src="/media/images/photos/tmp-3.jpg" />
      <div class="content">
        <h3>Creativity</h3>
        <p>To provide a place where members can meet and work on creative projects 
        of their own choosing, and share their skills with others.</p>
      </div>
    </article>

  </div>


  <section class="lg:flex gap-30 mb-1">
    <div>
      <h1>Our Story</h1>
      <p>CMIST - Community Men in Sheds Taunton emerged from the closure of Men in Sheds Taunton, 
      a very successful Shed set up in 2018 on the Belvedere Estate in connection with Compass Disability Services.</p>
      <p>Since the pandemic, we recognised that women have suffered the same as men due to the lockdown. 
      This is when we changed from Men In Sheds Taunton to Community Men In Sheds Taunton.</p>
      <p>We required new larger premises and the transition to incorporated Charity (A CIO) status.  
      We also had to weather the pandemic!  A very busy 8 months ensued in 2021/22 the big move occurring in early summer.</p>
      <p>We are now installed, the new premises enabling us to double the number of people attending and 
      offer over two stories and an outside area / workshop a wide range of resources and activities.</p>
      <p>This all came together in July 2022 with the opening of the new Shed as CMIST in UNIT 1, 
      Old Engineering Workshops, Station Approach North by Taunton Station (West side of the track).</p>
    </div>
    <div>
      <h1>Latest News</h1>
      <iframe name="faef823ca5d49fee4" height="589px" data-testid="fb:page Facebook Social Plugin" 
      title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" 
      scrolling="no" allow="encrypted-media" 
      src="https://www.facebook.com/v2.4/plugins/page.php?adapt_container_width=true&amp;app_id=304553036307597&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df7f43e1d0df647f9f%26domain%3Dwww.cmist.uk%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.cmist.uk%252Ff4d5d32a2cd5c7a05%26relation%3Dparent.parent&amp;container_width=0&amp;height=589&amp;hide_cover=true&amp;href=http%3A%2F%2Fwww.facebook.com%2FCommunityMenInShedsTaunton&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=true&amp;width=488" 
      class="" style="border: none; visibility: visible; width: 488px; height: 589px;"></iframe>
    </div>
  </section>



    <p>All are welcome whatever their age, gender or background. Annual membership is £20 per person, plus £3 per session.</p>

      CMIST currently meets from

      10:30am - 3:30pm:

      Tuesdays 

      Wednesday </p>

</div>
