---
pagination:
  data: projects
  size: 1
  alias: project
permalink: "projects/{{ project.slug }}/"
layout: "base.njk"
eleventyComputed:
  title: "{{ project.title }}"
---

<section class="container mt-1">

  {% if project.imageUrl %}
    <img src="{{ project.imageUrl }}?w=500&auto=format&fit=max" alt="{{ project.title }}" />
  {% endif %}

  <h1>{{ project.title }}</h1>

  <div class="project-content">
    {{ project.contentHtml | safe }}
  </div>

  <p><a href="/projects/">← Back to projects</a></p>

</section>
