
footer {
  background: #eee;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--surface-dim);

}

@media screen and (min-width: 600px) {

  footer {
    text-align: left;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 4rem 40px;
  }
}


